## Ex2 - Getting and Knowing your Data ERICK MATOS 5A IRD UTM

In [1]:
#this command is use for call the different libraries 
import pandas as pd
import numpy as np

In [29]:
#This command is used for assign a variable an item type csv
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
chipo = pd.read_csv(url, sep = '\t')

In [30]:
#Show the entries depending the number chipo.head(number)
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

In [31]:
chipo.shape[0]
#show the number of observations in each entry

4622

In [32]:
#show the information of the database 
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
order_id              4622 non-null int64
quantity              4622 non-null int64
item_name             4622 non-null object
choice_description    3376 non-null object
item_price            4622 non-null object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [33]:
#With this command you can see the number of columns in the table
chipo.shape[1]

5

In [34]:
chipo.columns
#this command show the columns an the names

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [35]:
chipo.index
#how is the database is indexed

RangeIndex(start=0, stop=4622, step=1)

In [36]:
#This command adds the order quantities of each product, the sum and tells us which one was requested 
#more and the quantity.

c = chipo.groupby('item_name')
c = c.sum()
c = c.sort_values(['quantity'], ascending=False)
c.head(1)

              order_id  quantity
item_name
Chicken Bowl    713926       761

In [37]:
#this command show de most ordered product in choce:prmeoi
c = chipo.groupby('choice_description').sum()
c = c.sort_values(['quantity'], ascending=False)
c.head(1)

                    order_id  quantity
choice_description
[Diet Coke]           123455       159

In [38]:
#this function sum the quantity of the items in total
total_items_orders = chipo.quantity.sum()
total_items_orders

4972

In [39]:
#with this command check the type of the item price  
chipo.item_price.dtype

dtype('O')

In [40]:
#with this function you can change the type of an item 
dollarizer = lambda x: float(x[1:-1])
chipo.item_price = chipo.item_price.apply(dollarizer)

In [41]:
#with this command check the type of an item                               
chipo.item_price.dtype

dtype('float64')

In [42]:
#In this function the income was calculated in a specific time
revenue = (chipo['quantity']* chipo['item_price']).sum()

print('Revenue was: $' + str(np.round(revenue,2)))

Revenue was: $39237.02

In [19]:
#This function serves to count how many orders there were
orders = chipo.order_id.value_counts().count()
orders

1834

In [20]:
#With this function the average amount of income was calculated 
chipo['revenue'] = chipo['quantity'] * chipo['item_price']
order_grouped = chipo.groupby(by=['order_id']).sum()
order_grouped.mean()['revenue']

21.394231188658654

In [21]:
#With this function the average amount of income was calculated it's an another form of calculate
chipo.groupby(by=['order_id']).sum().mean()['revenue']

21.394231188658654

In [22]:
#17 With this function the different products sold were counted
chipo.item_name.value_counts().count()

50

# Fuente: https://github.com/guipsamora/pandas_exercises/tree/master/01_Getting_%26_Knowing_Your_Data/Chipotle